<?xml version="1.0"?>
<launch>
    <arg name="node_name" default="pointgrey"/>

    <group ns="$(arg node_name)">
        <node name="$(arg node_name)" pkg="calibration_gui" type="single_camera" required="true" output="screen">
            <param name="sub_node_name" value="$(arg node_name)"/>
        </node>
    </group>
</launch>
