<?xml version="1.0"?>
<launch>
  <arg name="host" default="192.168.1.42"/>
  <arg name="node_name" default="SwissRanger"/>

  <group ns="$(arg node_name)">
    <node pkg="swissranger_camera" type="swissranger_camera" name="$(arg node_name)" output="screen" respawn="false">
      <!--param name="auto_exposure" value="1" /-->
      <!--param name="integration_time" value="40" /-->
      <param name="ether_addr" value="$(host)"/>
      <param name="camera_name" value="$(node_name)"/>
    </node>
  </group>
</launch>
